# Name: Gastric Emptying Dynamic
# Author: Ping XIE

Plugins>Nuclear Medicine>Scintigraphy>Gastric, "Gastric Emptying Dynamic", Vue_VG_Dynamique
Plugins>Nuclear Medicine>Scintigraphy>Gastric, "Gastric Condense", Condense_Dynamique
Plugins>Nuclear Medicine>Scintigraphy>Gastric, "Gastric Emptying software", Vue_VG_Roi
Plugins>Nuclear Medicine>Scintigraphy>Pulmonary Shunt, "Pulmonary Shunt", Vue_Shunpo
Plugins>Nuclear Medicine>Scintigraphy, "Preferences", PrefsWindow
Plugins>Nuclear Medicine>Scintigraphy, "About", About
Plugins>Tools, "Scintigraphy Tools", Scintigraphy_Tool