# Name: Conventional Scintigraphy for Nuclear Medicine
# Author: Salim Kanoun

Plugins>Nuclear Medicine>Scintigraphy>Gastric, "Gastric Emptying Solid", org.petctviewer.scintigraphy.gastric.GastricScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Gastric, "Gastric Emptying Liquid", org.petctviewer.scintigraphy.liquid.LiquidScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Gastric, "Esophageal Transit", org.petctviewer.scintigraphy.esophageus.application.EsophagealTransit
Plugins>Nuclear Medicine>Scintigraphy>Cardiac, "DPD Quant", org.petctviewer.scintigraphy.cardiac.CardiacScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Cardiac, "MIBG Quant", org.petctviewer.scintigraphy.mibg.MIBGScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Colon, "Colon Transit", org.petctviewer.scintigraphy.colonic.ColonicScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Hepatic, "Biliary Scintigraphy", org.petctviewer.scintigraphy.hepatic.HepaticDynScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Renal, "Renogram", org.petctviewer.scintigraphy.renal.RenalScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Renal, "DMSA", org.petctviewer.scintigraphy.renal.dmsa.DmsaScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Renal, "Renogram Follow-Up", org.petctviewer.scintigraphy.renal.followup.FollowUp
Plugins>Nuclear Medicine>Scintigraphy>Other, "Schaefer Calibration", org.petctviewer.scintigraphy.calibration.Calibration
#Plugins>Nuclear Medicine>Scintigraphy>Biology, "Platelet Retention", org.petctviewer.scintigraphy.platelet.View_Platelet
Plugins>Nuclear Medicine>Scintigraphy>Bone, "Bone Scintigraphy", org.petctviewer.scintigraphy.os.OsScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Pulmonary, "Pulmonary Shunt", org.petctviewer.scintigraphy.shunpo.ShunpoScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Lymphatic, "LymphoScintigraphy", org.petctviewer.scintigraphy.lympho.LymphoScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>General, "Dynamic Quantification", org.petctviewer.scintigraphy.generic.dynamic.GeneralDynamicScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>General, "Static Quantification", org.petctviewer.scintigraphy.generic.statics.StaticScintigraphy
Plugins>Nuclear Medicine>Scintigraphy>Endocrinology>Thyroid, "Tc Uptake", org.petctviewer.scintigraphy.thyroid.ThyroidScintigraphy
Plugins>Tools, "Scintigraphy Tools", org.petctviewer.scintigraphy.Scintigraphy_Tool
Plugins>Nuclear Medicine>Scintigraphy, "Preferences", org.petctviewer.scintigraphy.scin.preferences.PrefWindow
Plugins>Nuclear Medicine>Scintigraphy, "About", org.petctviewer.scintigraphy.About