# Name: Conventional Scintigraphy for Nuclear Medicine
# Author: Salim Kanoun

Plugins>Nuclear Medicine>Scintigraphy>Gastric, "Gastric Emptying Dynamic", org.petctviewer.scintigraphy.gastric.Vue_VG_Dynamique
Plugins>Nuclear Medicine>Scintigraphy>Gastric, "Gastric Condense", org.petctviewer.scintigraphy.gastric.Condense_Dynamique
Plugins>Nuclear Medicine>Scintigraphy>Gastric, "Gastric Emptying software", org.petctviewer.scintigraphy.gastric.Vue_VG_Roi
Plugins>Nuclear Medicine>Scintigraphy>Pulmonary Shunt, "Pulmonary Shunt", org.petctviewer.scintigraphy.shunpo.Vue_Shunpo
Plugins>Nuclear Medicine>Scintigraphy>Cardiac, "DPD Quant", org.petctviewer.scintigraphy.cardiac.Vue_Cardiac
Plugins>Nuclear Medicine>Scintigraphy>Hepatic, "Biliary Scintigraphy Dynamic", org.petctviewer.scintigraphy.hepatic.dyn.Vue_HepaticDyn
Plugins>Nuclear Medicine>Scintigraphy>Hepatic, "Biliary Scintigraphy Static", org.petctviewer.scintigraphy.hepatic.statique.Vue_Hepatic
Plugins>Nuclear Medicine>Scintigraphy>Renal, "Renogram", org.petctviewer.scintigraphy.renal.Vue_Renal
Plugins>Nuclear Medicine>Scintigraphy>General, "Dynamic Quantification", org.petctviewer.scintigraphy.dynamic.Vue_GeneralDyn
Plugins>Nuclear Medicine>Scintigraphy, "Preferences", org.petctviewer.scintigraphy.PrefsWindow
Plugins>Nuclear Medicine>Scintigraphy, "About", org.petctviewer.scintigraphy.About
Plugins>Tools, "Scintigraphy Tools", org.petctviewer.scintigraphy.Scintigraphy_Tool
Plugins>Nuclear Medicine, "CSV Collector", org.petctviewer.scintigraphy.tools.Csv_Collector
Plugins>Nuclear Medicine>Scintigraphy>Biology, "Platelet Retention", org.petctviewer.scintigraphy.platelet.Vue_Plaquettes